.home__container {
    margin-top: 50px;
    padding: 20px;
    box-sizing: border-box;
}

.home__movies {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
}